*::-webkit-scrollbar {
    width: 0 !important;
}

#main-player.fullscreen {
    z-index: 9999;
}

.video-player {
    width: 100% !important;
}

.pggf, .dabf, .overlay-logo {
    visibility: hidden;
}